---
layout: default
title: Blog
description: ""
permalink: /blog/
---
<div class="teasers">

  <! -- BLOG POSTS LIST -->

  {% for post in site.posts %}
    {% if post.no-blog %}
    {% else %}
      <! -- Blog Post -->
      <div class="teasers__item">
        <div class="teaser">
          <h3 class="teaser__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
          <div class="teaser__date">{{ post.date | date: "%b %-d, %Y" }}</div>
          <div class="teaser__snippet">{{ post.excerpt }}</div>
          <a class="teaser__readmore" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </div>

    {% endif %}
  {% endfor %}

</div>