---
layout: default
title: Docs
description: ""
permalink: /docs/
---
<div class="teasers">

  <! -- DOCS LIST -->

  {% assign docs = site.docs | sort: 'date' | reverse %}
  {% for doc in docs %}
    {% if doc.no-blog %}
    {% else %}
      <! -- Docs -->

      <div class="teasers__item">
        <div class="teaser">
          <h3 class="teaser__title">
            <a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
          </h3>
          <div class="teaser__snippet">{{ doc.excerpt }}</div>
          <a class="teaser__readmore" href="{{ doc.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </div>

    {% endif %}
  {% endfor %}

</div>