<footer class="footer">
  <div class="footer__left">© 2018 Juno, Rational Matter</div>
  <div class="footer__right">
    <ul class="footer__menu">
      <li class="footer__item"><a class="footer__link" href="/privacy-policy/">Privacy Policy</a></li>
      <li class="footer__item"><a class="footer__link footer__link--twitter" href="https://twitter.com/junoclient" target="_black">junoclient</a></li>
      <li class="footer__item"><a class="footer__link" href="mailto:contact@juno.sh"> contact@juno.sh</a></li>
    </ul>
  </div>
</footer>