<div id="footerwrap">
    <div class="container post-content">
        <div class="footer-details">
            <p align="center">
                © 2017 kernels.io <i class="fa fa-heart" style="color:#ed4956"></i>  
                <span style="display:inline-block; width: 10px;"></span> 
                <a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> {{ site.email }}</a> 
                <span style="display:inline-block; width: 10px;"></span> 
                <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> {{ site.twitter.username }}</a></p>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->