<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  {% seo %}
  <link sizes="180x180" href="/assets/images/apple-touch-icon.png?1" rel="apple-touch-icon-precomposed"/>
  <link sizes="32x32" href="/assets/images/favicon-32.png?1" rel="icon" type="image/png"/>
  <link sizes="16x16" href="/assets/images/favicon-16.png?1" rel="icon" type="image/png"/>
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?1" color="#ef7200">
  <meta name="apple-mobile-web-app-title" content="Juno">
  <meta name="application-name" content="Juno">
  <link href="/assets/styles/styles.css?1" rel="stylesheet"/>
  <meta name="theme-color" content="#000000">
</head>