<header class="header">
  <div class="header__explicit">
    <ul class="header__menu">
      <li class="header__item header__item--juno{% if page.permalink == '/juno/' %} header__item--active{% endif %}"><a class="header__link" href="/juno/"><span>juno</span></a></li>
      <li class="header__item header__item--junoconnect{% if page.permalink == '/juno-connect/' %} header__item--active{% endif %}"><a class="header__link" href="/juno-connect/"><span>juno connected</span></a></li>
    </ul>
  </div>
  <div class="header__burger">
    <div class="burger">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </div>
  </div>
  <div class="header__implicit">
    <ul class="header__menu">
      <!-- <li class="header__item{% if page.layout == 'doc' or page.permalink == '/docs/' %} header__item--active{% endif %}"><a class="header__link" href="/docs/"><span>Docs</span></a></li> -->
      <li class="header__item{% if page.layout == 'post' or page.permalink == '/blog/' %} header__item--active{% endif %}"><a class="header__link" href="/blog/"><span>Blog</span></a></li>
      <li class="header__item{% if page.layout == 'faq' %} header__item--active{% endif %}"><a class="header__link" href="/faq/"><span>FAQ</span></a></li>
    </ul>
  </div>
</header>