<!DOCTYPE html>
<html class="html html--nojs html--black" lang="en">

  {% include head.html %}

  <body class="body">
    <div class="body__header">

      {% include header.html %}

    </div>
    <div class="body__body">

      {{ content }}

      <div class="body__newsletter emerge">
        <section class="newsletter">
          <h2 class="newsletter__title">News &&nbsp;Updates</h2><a class="newsletter__button" href="https://kernels.us16.list-manage.com/subscribe/post?u=5332e31787bc0c2113afd90e9&amp;id=2509ebb1d8" target="_blank">Subscribe</a>
        </section>
      </div>
      <div class="body__footer">

        {% include footer.html %}

      </div>
    </div>

    {% include script.html %}

  </body>
</html>